.noticesWrapper{
    align-items: center;
    display:flex;
    gap:1rem;
}
.noticeWrapper{
    align-items: center;
    background: #00000088;
    display:flex;
    flex-direction: column;
    gap:1rem;
    height:100%;
    width:100%;
}
.noticeImage{
    display:flex;
    height:300px;
    width:100%;
}
.noticeImage img{
    border-radius: 9px;
    height:100%;
    object-fit: cover;
    width:100%;
}
.noticeTitle{
    color:var(--white-secondary);
    padding:1rem 0;
    text-align: center;
}
.noticePlaylist{
    width:100%;
}
@media (min-width:240px) and (max-width:900px){
    .noticesWrapper{
        display: block;
    }
    .noticeWrapper{
        height:400px;
    }
}